{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="konti" style="margin-top:100px;"></div>
<h1 class="mt-5  text-info d-flex justify-content-center" >Contact Us</h1>

<div class="container  " style="margin-top:130px">

    <div class="row mt-5 text-center">
        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="bi bi-telephone" style="font-size:30px;color:#42C2FF;"> Contact</i></h4>
            <p><a class="text-danger text-decoration-none fw-bold mt-3" href="tel:+998996663355">+998996663355</a></p>
        </div>
        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="bi bi-envelope" style="font-size:30px;color:#42C2FF;"> Send Email</i></h4>
            <p><a class="text-decoration-none fw-bold mt-3" href="mailto:medical@gmail.com">medical@gmail.com</a></p>
        </div>
        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="bi bi-geo-alt" style="font-size:30px;color:#42C2FF;"> Office Address</i></h4>
            <p><a class="text-decoration-none fw-bold mt-3" href="http://maps.google.com/maps?q=tashkent">Uzbekistan, Tashkent</a></p>
        </div>
        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="bi bi-clock" style="font-size:30px;color:#42C2FF;"> Office Time</i></h4>
            <p class="fw-bold mt-3 text-secondary">09:00 AM  to  05:00 PM</p>
        </div>
    </div>
</div>

<div class="konio " style="height:250px;"></div>


{% endblock content %}



