{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container  d-flex justify-content-center" style="margin-top:100px; background-color:red; height:580px; background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 63%);">




    <h1 class=" text-center mt-5 text-white"> When you visit  Medical House,<br> You’ll
                         gain  access to advanced technology, <br>   treatments,
                         research and types of<br> healthcare  services.
    </h1>

</div>

<div class="h-75 w-100  row p-3 d-flex justify-content-center mt-5">

  <div class="container m-2 " style="width: 18rem;">

     <div class="col karta text-center border border-secondary ">
        <h5 class="card-title mt-4">Pediatrics</h5>
        <p class="card-text mt-3 text-secondary">At Medical House, we partner with families to deliver expert, compassionate care to infants, children and teens.  compassionate care to infants, children and teens.</p>
        <a href="#" class="btn btn-light text-primary mt-5 mb-3">Learn more <i class="bi bi-arrow-right"></i></a>
     </div>
  </div>

  <div class="container m-2 " style="width: 18rem;">

     <div class="col karta text-center border border-secondary ">
        <h5 class="card-title mt-4">Heart & Cardiovascular</h5>
        <p class="card-text mt-3 text-secondary">AOur comprehensive heart services include general and preventive cardiology, cardiac testing and imaging, specialized cardiology and cardiac surgery.</p>
        <a href="#" class="btn btn-light text-primary mt-5 mb-3">Learn more <i class="bi bi-arrow-right"></i></a>
     </div>
  </div>

  <div class="container m-2 " style="width: 18rem;">

     <div class="col karta text-center border border-secondary ">
        <h5 class="card-title mt-4">Neurosurgery</h5>
        <p class="card-text mt-3 text-secondary">Our top-rated neurosurgeons use advanced imaging and surgical techniques to treat neurological conditions, such as brain tumors and traumatic brain injury.</p>
        <a href="#" class="btn btn-light text-primary mt-5 mb-3">Learn more <i class="bi bi-arrow-right"></i></a>
     </div>
  </div>

  <div class="container m-2 " style="width: 18rem;">

     <div class="col karta text-center border border-secondary ">
        <h5 class="card-title mt-4">Cancer Care</h5>
        <p class="card-text mt-3 text-secondary">Medical House Health patients can expect comprehensive and individualized cancer care, delivered in convenient locations across Southern California.</p>
        <a href="#" class="btn btn-light text-primary mt-5 mb-3">Learn more <i class="bi bi-arrow-right"></i></a>
     </div>
  </div>


</div>

<div class="container mt-5 ">
    <h2 class="text-start text-secondary mt-5 ms-5">Specialty Services</h2>

<div class="row mt-4">
  <div class="col-sm-3">
    <div class="card" style="background-color:#C5FFF8;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4 ">Anesthesiology</h5>
        <a href="#" class="btn btn-outline-secondary btn-sm">Learn more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card " style="background-color:#C5FFF8;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4">Audiology</h5>
        <a href="#" class="btn btn-outline-secondary btn-sm">Learn more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card" style="background-color:#C5FFF8;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4 ">Clinical Nutrition</h5>
        <a href="#" class="btn btn-outline-secondary btn-sm">Learn more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card" style="background-color:#C5FFF8;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4 ">Dermatology</h5>
        <a href="#" class="btn btn-outline-secondary btn-sm">Learn more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>

</div>



<div class="row mt-4">
  <div class="col-sm-3">
    <div class="card" style="background-color:#C5FFF8;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4">Long COVID</h5>
        <a href="#" class="btn btn-outline-secondary btn-sm">Learn more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card" style="background-color:#C5FFF8;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4 ">Digestive Diseases</h5>
        <a href="#" class="btn btn-outline-secondary btn-sm">Learn more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card" style="background-color:#C5FFF8;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4 ">Eating Disorders</h5>
        <a href="#" class="btn btn-outline-secondary btn-sm">Learn more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card" style="background-color:#C5FFF8;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4 ">Emergency Medicine</h5>
        <a href="#" class="btn btn-outline-secondary btn-sm">Learn more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>

</div>



<div class="row mt-4">
  <div class="col-sm-3">
    <div class="card" style="background-color:#C5FFF8;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4 ">Endocrinology</h5>
        <a href="#" class="btn btn-outline-secondary btn-sm">Learn more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card" style="background-color:#C5FFF8;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4">Food Allergy</h5>
        <a href="#" class="btn btn-outline-secondary btn-sm">Learn more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card" style="background-color:#C5FFF8;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4 ">Neurosurgery</h5>
        <a href="#" class="btn btn-outline-secondary btn-sm">Learn more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card" style="background-color:#C5FFF8;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4 ">Head & Neck Surgery</h5>
        <a href="#" class="btn btn-outline-secondary btn-sm">Learn more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>

</div>





<div class="row mt-4">
  <div class="col-sm-3">
    <div class="card" style="background-color:#C5FFF8;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4 ">Otolaryngology</h5>
        <a href="#" class="btn btn-outline-secondary btn-sm">Learn more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card" style="background-color:#C5FFF8;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4 ">Heart </h5>
        <a href="#" class="btn btn-outline-secondary btn-sm">Learn more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card" style="background-color:#C5FFF8;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4 "> Cardiovascular Services</h5>
        <a href="#" class="btn btn-outline-secondary btn-sm">Learn more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card" style="background-color:#C5FFF8;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4 ">Pediatrics</h5>
        <a href="#" class="btn btn-outline-secondary btn-sm">Learn more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>

</div>



<div class="row mt-4">
  <div class="col-sm-3">
    <div class="card" style="background-color:#C5FFF8;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4 ">Radiology</h5>
        <a href="#" class="btn btn-outline-secondary btn-sm">Learn more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card" style="background-color:#C5FFF8;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4 ">Pharmacy </h5>
        <a href="#" class="btn btn-outline-secondary btn-sm">Learn more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card" style="background-color:#C5FFF8;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4 "> Sleep Disorders</h5>
        <a href="#" class="btn btn-outline-secondary btn-sm">Learn more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <div class="col-sm-3" >
    <div class="card" style="background-color:#C5FFF8;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4 ">Psychiatry</h5>
        <a href="#" class="btn btn-outline-secondary btn-sm">Learn more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>

</div>

  <hr class="mt-5">

<div class="container">
   <h1 class="mt-5 text-center text-white mb-5" style="height:100px; background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,185,255,1) 0%, rgba(9,9,121,1) 100%);"> Our Clinic for your health  and your comfort</h1>


</div>

  <h1 class="text-center mt-5">FAQ</h1>

<div class="container d-flex justify-content-center mt-1 mb-5">

<div class="accordion w-50 mt-5 " id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Do I need to book an appointment with Memorial Healthcare Group
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Do I need to book an appointment with Memorial Healthcare Group</strong>You can book an appointment here easily, or you can talk to the Memorial Support Specialist, who will assist you with your booking.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        How do I pay for my treatment at Memorial Healthcare Group,  if I do not have international health insurance?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>How do I pay for my treatment at Memorial Healthcare Group,  if I do not have international health insurance?</strong> The hospital accepts cash payments, all major credit cards, including VISA and MasterCard, and selected international insurance companies. A dedicated Memorial Support Specialist will be happy to assist you with this process; get in touch here in case of any questions or clarifications needed.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        What happens after my treatment, surgery, or procedure?

      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>What happens after my treatment, surgery, or procedure?</strong> After recovery at one of your preferred inpatient facilities at Memorial Healthcare Group, your dedicated Memorial Support
        Specialist will assist you with your travel arrangements back home and any follow-up care you may need.

      </div>
    </div>
  </div>
</div>

</div>
</div>




{% endblock content %}