{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1 class="text-center " style="color: #42C2FF; margin-top:100px;">View Patients</h1>

<table id="example" class="table table-hover">
  <thead>
   <tr>
     <th>Patient Id</th>
     <th>Name</th>
     <th>Gender</th>
     <th>Mobile</th>
     <th>Address</th>
     <th>Delete</th>
   </tr>
  </thead>
  <tbody>
     {% for pat in patient %}
       <tr>
         <td>{{ pat.id }}</td>
         <td>{{ pat.name }}</td>
         <td>{{ pat.gender }}</td>
         <td>{{ pat.mobile }}</td>
         <td>{{ pat.address }}</td>
         <td><a href="{% url 'delete_patient' pat.id %}" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-outline-danger">Delete</a></td>
       </tr>
     {% endfor %}

  </tbody>
</table>
<div class="container h-50">

</div>
{% endblock content %}